* {
    max-width: 700px;
    margin: 0;
  }
  
  
  /*body {
      min-width: 500px;
  }*/

  .photo_banniere{
    grid-area : header;
    padding : 50px;
    background-color: #d9a5a5;
    display : flex;
    flex-direction: column;
    justify-content : center;
    position: fixed;
    z-index: 1;
  }

  .cote{
    grid-area : left-column;
    padding : 50px;
    background-color: #f5d9eb;
    color : black;
  }

  .image{
    border-radius: 50%;
    max-width : 150px;
    margin : auto;
    display : block;
    margin-bottom : 50px;
  }
  
  .section {
    height: 80%;
    grid-area : right-column;
    display : grid;
    width: 60%;
    background-color:#ecc8dc;
    float: right;
    position: inherit;
  }

  .photo_enbas{
    height: 5%;
    width: 100%;
    background-color: #d9a5a5
    clear: both;
    position: relative;
  }

  