/* Marges du CV */
* {
  margin: 0%;
}

/* Balises de bases */

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: .9rem;
  line-height: 1.5;
  text-indent: 5px;
}


h2{
  margin: 0 0 1rem;
  font-size: 1.8rem;
  color : #171515;
  border : solid #652c17;
  text-align : center;
  border-radius: 10px;
  margin-top : 0px;
  width : 100%;
}

h4{
  margin : 0 0 0rem;
  letter-spacing : 1px;
  font-size : 1.1rem;
  color : #a37b64;

}

h5{
  font-size: 0.9rem;
  margin : 0 0 1rem;
  font-size : italic;
  font-weight : bold;
}

a {
  color: white;
  text-decoration: none;
}

a:hover{
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}
/* La banniere du CV */

.banniere{
  position : relative;
  height: 10%;
  width : 100%;
  margin-left:auto; 
  margin-right:auto;
  background-image : url("images/droit_num.jpg");
  background-repeat: no-repeat;
  background-size : 100%;
  color : white;
  text-align:center;
  font-size : 30px;
  border-radius: 10px;
  z-index: 1;
}

/* Le menu horizontal du CV */

.menu{
  color: white;
  display : inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 50px;
  position: relative;
  width: 140px;
  height: 30px;
  border: solid;
  border-width: 1px 4px;
  border-radius: 40px;
  font-size: 20px;
  text-decoration: none;
  box-shadow: 0 2px 8px 0 #999;
  margin-bottom : 10px;
}

.menu:hover{
  background-color: #d3b3ac;
}

/* La partie gauche du CV */

.gauche {
  position:absolute;
  left:0;
  background-color: #a37b64;
  align-items: center;
  justify-items: center;
  width : 22%;
  list-style-type: none;
  letter-spacing: 1px;
  margin: 0 0 1rem;
  color : white;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 64%;
  margin-left: 8%;
}

.gauche h4{
  color : white;
  margin : 0 0 2rem;
}

.image{
  border-radius: 50%;
  max-width : 140px;
  margin : auto;
  margin-top : 30px;
  display : block;
  margin-bottom : 50px;
  align-content: center;
  border : solid;
  border-color : white;
}

.icone{
  height:20px;
}

/* La partie droite du CV */

.droite {
  min-height:150px;
  float : right;
  width : 60%; /* Permet de rendre les deux colonnes de meme longueur */
  margin-top : 0px;
  position: inherit;
  margin-bottom: 0%;
  margin-right : 8%;
}

/* La division de la section divers en deux colonnes */

.retour_haut{
  float : right;
  margin-right: 10px;
}

.container_divers {
  margin-top: 0px;
  margin-bottom : 0px;
  margin:auto;
  position:relative;
  overflow : hidden;
}

.competences{
  width:100px;
  position:absolute;
  align-items: center;
  justify-items: center;
  margin-right : 0px;
  width : 50%;
  float : left;
  border-right : solid #a37b64;
}

.langues{ 
  float : right;
  right : 0;
  width : 40%;
  margin-left:250px;
  min-height:150px;
  justify-items: center;
  column-width : auto;
}

/* La bannière en bas du CV */

.photo_enbas{  
  background-image : url("images/droit_num.jpg");
  background-size : 100%;
  height: 20%;
  clear: both;
  position: inherit;
  text-align: center;
  justify-content: center;
  align-items: center;
  color : white;
  text-align:center;
  font-size : 1.5rem;
  border-radius: 10px;
  margin-top: 0%;
}


